* {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: hsl(216, 12%, 8%);
}

p {
    color: hsl(216, 12%, 54%);
    font-size: 15px;
}

h1 {
    font-size: 28px;
}

.container-1 {
    position: absolute;
    padding: 30px;
    width: 340px;
    height: 330px;
    background: hsl(213, 19%, 18%);
    border-radius: 30px;
}

.container-1 .icon {
    display: flex;
    width: 15px;
    height: 15px;
    background: hsl(218, 20%, 22%);
    align-content: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50%;
}

.container-1 .text {
    color: hsl(0, 0%, 100%);
    padding: 30px 0;
}

.container-1 .text * {
    padding: 5px 0;
}

.container-1 .text p {
    font-size: 15px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

li {
    display: flex;
    width: 15px;
    height: 15px;
    background: hsl(218, 20%, 22%);
    justify-content: center;
    color: hsl(216, 12%, 54%);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

li:hover {
    color: hsl(0, 0%, 100%);
    background: hsl(25, 97%, 53%);
}

li.active {
    color: hsl(0, 0%, 100%);
    background: hsl(216, 12%, 54%);
}

.submit {
    display: flex;
    justify-content: center;
    background: hsl(25, 97%, 53%);
    margin: 30px 0;
    padding: 10px 0;
    border-radius: 30px;
    cursor: pointer;
}

.submit button {
    background: none;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.submit:hover button {
    color: hsl(25, 97%, 53%);
}

.submit:hover {
    background: hsl(0, 0%, 100%);
}


.container-2 {
    padding: 30px;
    width: 340px;
    height: 330px;
    background: hsl(213, 19%, 18%);
    border-radius: 30px;
}

.container-2 .icon {
    display: flex;
    justify-content: center;
}

.selection {
    display: flex;
    justify-content: center;
}

.selection p {
    display: flex;
    margin: 30px 0;
    padding:  6px 15px;
    background: hsl(218, 17%, 22%);
    border-radius: 30px;
    color: hsl(25, 97%, 53%);
}

.container-2 .text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-2 .text * {
    padding: 10px 0;
}

.container-2 .text h1 {
    color: hsl(0, 0%, 100%);
}

.container-2 .text p {
    line-height: 25px;
}

@media screen and (max-width:500px){
    .container-1, .container-2 {
        width: 80vw;
        height: 50vh;
        min-width: 260px;
        height: 300px;
    }

    .container-1 .text {
        padding-bottom: 10px;
    }

    .submit {
        margin: 20px 0;
    }

    .container-2 .text * {
        padding: 0;
    }

    .container-2 .text p {
        padding: 10px 0;
    }

    .selection p {
        margin: 20px 0;
    }
}